th_hsob_112/script/th_hsob/data*
th_hsob_112/script/th_hsob/img
th_hsob_112/script/th_hsob/music
th_hsob_112/script/th_hsob/replay
th_hsob_112/script/th_hsob/se
th_hsob_112/config.dat
th_hsob_112/prac
th_hsob_112/th_dnh.log
th_hsob_112/LogWindow.dat